// @font-face {
//   font-family: livvic;
//   src: url(../../assets/fonts/Livvic-Regular.ttf);
// }
@font-face {
  font-family: livvic-semi-bold;
  src: url(../../fonts/Livvic-SemiBold.ttf);
}
@font-face {
  font-family: livvic-bold;
  src: url(../../fonts/Livvic-Bold.ttf);
}
@font-face {
  font-family: livvic-medium;
  src: url(../../fonts/Livvic-MediumItalic.ttf);
}

// @font-face {
//   font-family: montserrat;
//   src: url(../../assets/fonts/Montserrat/Montserrat-Black.ttf);
// }
